<div class="header">
    <div class="logo">
        <img src="/assets/Robosoft_logo_horizontal.png" id="logo" alt="">
    </div>
    <div class="profile">
        <div class="newTraining">
            <button class="training_button" routerLink="/createTraining">NEW TRAINING</button>
        </div>
        <!-- <div class="icon">
            <mat-icon>notifications_none</mat-icon>
        </div> -->
        <div class="pimage">
            <div><img src="/assets/profile.png" id="pimage" alt=""></div>
            <div class="display_icon">
                <mat-icon (click)="display_p_options()" >arrow_drop_down</mat-icon>
                <div *ngIf="display" class="poptions">
                    <li (click)="addProfile()">Add profile</li>
                    <li (click)="editProfile()">Edit profile</li>
                    <li  routerLink="/login">Log Out</li>
                </div>
            </div>
            
        </div>
    </div>
</div>


Home > Training Details

<mat-card class="parentContainer">
    <div class="container">
        <div class="containerCourse">
            <div class="course_name">UX/UI Design Process</div>
            <div ><button class="course_status_active">Active</button></div>
        </div>
        <div class="containerEmp">
            <div class="limitTime">Ends in: 2days 3hrs 50mins</div>
            <div class="totalEmpIcon"><mat-icon>groups</mat-icon></div>
            <div class="totalEmpCount">87</div>
        </div>
    </div>

    <div class="containerTraining">
        <div class="trainer">Trainer:</div>
        <div class="trainerName">Trainer Name &nbsp; &nbsp; |</div>
        <div class="trainer">&nbsp; &nbsp; &nbsp;Training Type:</div>
        <div class="trainerName">Online</div>
    </div>

    <div class="containerDate">
        <div class="start_date">Start Date<span id="date">Dec 5th,2020 at 12:</span></div>
         <div class="end_date">End Date<span id="date">Dec 5th,2020 at 12:</span></div>
         <div class="duration">Duration<span id="duration">3hrs 45mins</span>
         </div>
         <div class="containerDetails">
            <div><button class="details">Details</button></div>
            <div class="parentDetailsIcon">
                <div class="detailsIcon" (click)="display_edit_dlt_options()"><mat-icon>more_vert</mat-icon></div>
                <div class="editDlt" *ngIf="displayEditDlt">
                    <li>Edit</li>
                    <li>Delete</li>
                </div>
               </div>
        </div>
     </div>

    </mat-card>
