.parentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5% 10%;
    background-color: #F1E9EB;
    
}
.main{
    background-color: #F1E9EB;
    padding: 0.5% 0%;
}

.container {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 6px rgba(94, 107, 131, 0.06);
    width: 20%;
    padding:  2% 10%;
    padding-left:1rem;
}
.count{
    color: #000000;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 66px;
    margin-left: 10%;
}
.comment{
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    margin-left: 10%;
}