
{{getRole()}}
<div class="main">
    <div class="parentContainer">
        <div class="container">
            <div class="count">{{activeCount}}</div>
            <div class="comment">Active&nbsp;Trainings</div>
        </div>
        <div class="container">
            <div class="count">{{upcomingCount}}</div>
            <div class="comment">Upcoming&nbsp;Trainings</div>
        </div>
        <div class="container">
            <div class="count">{{completedCount}}</div>
            <div class="comment">Completed&nbsp;Trainings</div>
        </div>
    </div>
</div>
