<div class="main">
    <div class="parentContainer">
        <div class="container">
            <div class="count">0</div>
            <div class="comment">Active Trainings</div>
        </div>
        <div class="container">
            <div class="count">0</div>
            <div class="comment">Upcoming Trainings</div>
        </div>
        <div class="container">
            <div class="count">0</div>
            <div class="comment">Completed Trainings</div>
        </div>
    </div>
</div>
