<div class="main">
    <div class="parentContainer">
        <div class="container">
            <div class="count">0</div>
            <div class="comment">Active&nbsp;Trainings</div>
        </div>
        <div class="container">
            <div class="count">{{count}}</div>
            <div class="comment">Upcoming&nbsp;Trainings</div>
        </div>
        <div class="container">
            <div class="count">0</div>
            <div class="comment">Completed&nbsp;Trainings</div>
        </div>
    </div>
</div>
