{{getAllEmployee()}}

<div class="inviteEmpParentMain">
    <mat-card class="inviteEmpMain">
        <div class="inviteReporteesHeader">
            <p class="inviteReportees" routerLink="/detailsPage">Invite Employees</p>
            <button class="doneButton"(click)="done()">DONE</button>
        </div>
        
        
        <div class="searchbar">
            <input type="text" placeholder="Search Employee#, Name, Designation" [(ngModel)]="searchKey" (click)="allData()" matInput class="search-input">
            <div class="search-button" mat-raised-button (click)="search()">SEARCH</div>
        </div>
        
        <div class="tabHeader">
            <div class="empCode">Employee#</div>
            <div class="empName">Name</div>
            <div class="empDesignation">Designation</div>
            <!-- <div class="addRemoveIcon">add_circle</div> -->
        </div>
        
        <div class="contentScroll">
            <div class="tabContentParent" *ngFor="let empDetail of allEmployee;index as i">
                <div class="tabContent">
                    <div class="empCodeval">{{empDetail.empId}}</div>
                    <div class="empNameval">{{empDetail.empName}}</div>
                    <div class="empDesignationval">{{empDetail.designation}}</div>
                    <div class="addIcon" *ngIf="empDetail.invited==false" (click)="toggleRemove(empDetail.empId)"><mat-icon> add_circle</mat-icon></div>
                    <div class="removeIcon" *ngIf="empDetail.invited==true" (click)="toggleAdd(empDetail.empId)"><mat-icon>do_not_disturb_on</mat-icon></div>
                </div>
                
        </div>
        
            <!-- <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div>
        
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div>
            
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div> -->
        
        </div>
    </mat-card>
</div>