<div class="inviteEmpParentMain">
    <mat-card class="inviteEmpMain">
        <div class="inviteReporteesHeader">
            <p class="inviteReportees">Invite Employees</p>
            <button class="doneButton"routerLink="/createTraining">DONE</button>
        </div>
        
        
        <div class="searchbar">
            <input type="text" placeholder="Search Employee#, Name, Designation" matInput class="search-input">
            <div class="search-button" mat-raised-button>SEARCH</div>
        </div>
        
        <div class="tabHeader">
            <div class="empCode">Employee#</div>
            <div class="empName">Name</div>
            <div class="empDesignation">Designation</div>
            <!-- <div class="addRemoveIcon">add_circle</div> -->
        </div>
        
        <div class="tabContentParent">
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="removeIcon"><mat-icon> do_not_disturb_on</mat-icon></div>
            </div>
            
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div>
        
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div>
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div>
        
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div>
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div>
        
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div>
            
            <div class="tabContent">
                <div class="empCodeval">RT00378</div>
                <div class="empNameval">Xyz</div>
                <div class="empDesignationval">Senior Developer</div>
                <div class="addIcon"><mat-icon> add_circle</mat-icon></div>
            </div>
        
        </div>
    </mat-card>
</div>