<div class="inviteEmpParentMain">
    <mat-card class="inviteEmpMain">
        <div class="inviteReporteesHeader">
            <p class="inviteReportees">Delete Employees</p>
            <button class="doneButton" (click)="submitData()" >DONE</button>
        </div>
        
        
        <div class="searchbar">
            <input type="text" placeholder="Search Employee#, Name, Designation" matInput class="search-input">
            <div class="search-button" mat-raised-button>SEARCH</div>
        </div>
        
        <div class="tabHeader">
            <div class="empCode">Employee#</div>
            <div class="empName">Name</div>
            <div class="empDesignation">Designation</div>
            <!-- <div class="addRemoveIcon">add_circle</div> -->
        </div>
        
        <div class="tabContentParent"  (scroll)="onScrolling($event)">
            <div class="tabContent" *ngFor = "let employee of allEmployee;index as i">
                <div class="empCodeval">{{employee.empId}}</div>
                <div class="empNameval">{{employee.empName}}</div>
                <div class="empDesignationval">{{employee.designation}}</div>
                <div class="removeIcon" *ngIf="employee.remove == false" (click)="removeItem(employee)"><mat-icon> do_not_disturb_on</mat-icon></div>
                <div *ngIf = "employee.remove == true" class="addIcon" (click)="notremove(employee)"><mat-icon> add_circle</mat-icon></div>
            </div>
            
           
        
        </div>
    </mat-card>
</div>