.header{
    display: flex;
    justify-content: space-between;
    margin: 4% 15%;
    height: 4%;
}
#logo{
    height: 60px;
}
.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

#pimage{
    height: 50px;
    border-radius: 50%;
}
.pimage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.material-icons{
   font-size: 35px;
}
.pimage .material-icons{
    font-size: large;
}

li{
    list-style: none;
    padding: 2px;
    font-size: small;
    z-index: 1;
    cursor: pointer;
    
    
}
.poptions{
    background-color: #FDF4F6;
    color:#d92756;
    padding: 5px;
    position:fixed;
    top: 10%;
    right: 10%;
}
.training_button{
    color: #FFFFFF;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.32px;
  line-height: 16px;
  text-align: center;
  border-radius: 4px;
  background-color: #230735;
  border: none;
  padding:10px 20px;

}
.containerCourse{
    display: flex;
    justify-content: space-around;
    text-align: flex-start;
    gap: 1rem;
}
.containerEmp{
    display: flex;
    justify-content:space-around;
    gap: 1.5rem;
}
.parentContainer{
    width: 80%;
    /* height: 20%; */
    margin: auto;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(6,35,92,0.08);
}
.container{
    margin: 3% 3% 0% 3%;
    display: flex;
    justify-content: space-between;
}
.course_name{
    color: #06235C;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;

}
.course_status_completed{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 12px;
    border-radius: 4px;
    background-color: #DEBB32;
    padding: 3px 12px 3px 12px;
    border: none;
    align-self: center;
}
.course_status_active{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 12px;
    border-radius: 4px;
    background-color: #DEBB32;
    padding: 3px 12px 3px 12px;
    border: none;
    align-self: center;
    border-radius: 4px;
  background-color: #71AC1B;
}
.course_status_upcoming{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 12px;
    border-radius: 4px;
    background-color: #DE8432;
    padding: 3px 12px 3px 12px;
    border: none;
    align-self: center;
    border-radius: 4px;
}
.limitTime{
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #F3F3F3;
    color: #25040C;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.37px;
    text-align: center;
    padding: 0.5rem 1rem;
}
   
.totalEmpCount{
    color: #230735;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 19px;
    padding-top: 5px;
}
.totalEmpIcon mat-icon{
    font-size: 28px;
}
.containerTraining{
    display: flex;
    margin: 0% 0% 0% 3%;
}
.trainer{
    color: #9e9d9d;
    font-family: Roboto;
    font-size: 14px;
}
.trainerName{
    color: #5a5656;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 19px;
}
.containerDate{
    display: flex;
    justify-content:space-between;
    margin: 3% 3% 0% 3%; 
    padding-bottom: 3%;
}
.containerDetails{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}
.detailsIcon mat-icon{
    font-size: 23px;
    align-self: right;
}
.start_date{
    display: flex;
    flex-direction: column;
    color: #A8A8A8;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.12px;
    line-height: 24px;
}
#date{
    color: black;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.43px;
}
.end_date{
    display: flex;
    flex-direction: column; 
    color: #A8A8A8;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.12px;
    line-height: 24px;
}
.duration{
    display: flex;
    flex-direction: column; 
    color: #A8A8A8;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.12px;
    line-height: 24px;
}
#duration{
    color: black;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.43px;
}
.details{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.32px;
    line-height: 16px;
    text-align: center;
    border-radius: 4px;
    background-color: #EC2C59;
    padding: 8px 10px 8px 10px;
    border: none;
    cursor: pointer;
}
.parentDetailsIcon{
    position: relative;
}
.editDlt{
    position: absolute;
  
}