
<div class="header">
    <div class="logo">
        <img src="/assets/Robosoft_logo_horizontal.png" id="logo" alt="">
    </div>
    <div class="profile">
        <div class="newTraining">
            <button class="training_button" routerLink="/createTraining">NEW TRAINING</button>
        </div>
        <!-- <div class="icon">
            <mat-icon>notifications_none</mat-icon>
        </div> -->
        <div class="pimage">
            <div><img src="/assets/profile.png" id="pimage" alt=""></div>
            <div class="display_icon">
                <mat-icon (click)="display_p_options()" >arrow_drop_down</mat-icon>
                <div *ngIf="display" class="poptions">
                    <li (click)="addProfile()">Add profile</li>
                    <li (click)="editProfile()">Edit profile</li>
                    <li  routerLink="/login">Log Out</li>
                </div>
            </div>
            
        </div>
    </div>
</div>
<app-training-count></app-training-count>
<app-navbar></app-navbar>





<div class="parentContainer" *ngFor="let course of courseDetails">
    <div class="container">
        <div class="containerCourse">
            <div class="course_name">{{course.courseName}}</div>
            <div ><button [ngClass]="course_status">{{course.completionStatus | uppercase}}</button></div>
        </div>
        <div class="containerEmp">
            <div class="limitTime" *ngIf="active_ends_in">Ends in: 2days 3hrs 50mins</div>
            <div class="limitTime" *ngIf="upcoming_starts_in">Starts in: 2days 3hrs 50mins</div>
            <div class="totalEmpIcon"><mat-icon>groups</mat-icon></div>
            <div class="totalEmpCount">87</div>
        </div>
    </div>

    <div class="containerTraining">
        <div class="trainer">Trainer:</div>
        <div class="trainerName">{{course.trainer}}&nbsp; &nbsp; |</div>
        <div class="trainer">&nbsp; &nbsp; &nbsp;Training Type:</div>
        <div class="trainerName">{{course.trainingMode}}</div>
    </div>

    <div class="containerDate">
        <div class="start_date">Start Date<span id="date">{{course.startDate |date:'mediumDate'}} at {{course.startTime}}</span></div>
         <div class="end_date">End Date<span id="date">{{course.endDate | date:'MMM d, y'}} at {{course.endTime}}</span></div>
         <div class="duration">Duration<span id="duration">{{course.duration }}</span>
         </div>
         <div class="containerDetails">
            <div><button class="details" (click)="navigateToDetails(course)">Details</button></div>
            <div class="parentDetailsIcon">
                <div class="detailsIcon" (click)="display_edit_dlt_options(course)"  *ngIf="course.block==true"><mat-icon>more_vert</mat-icon></div>
                <div class="editDlt">
                    <!-- <div class="editDlt" *ngIf="disedit"> -->
                    <li routerLink="/updateTraining">Edit</li>
                   <div> <li (click)="deleteCourse()"><mat-icon>delete</mat-icon>Delete</li></div>
                </div>
               </div>
        </div>
     </div>

</div>

<!-- <div class="parentContainer" *ngFor="let course of upcomingCourseDetails">
    <div class="container">
        <div class="containerCourse">
            <div class="course_name">{{course.courseName}}</div>
            <div ><button class="course_status_upcoming">Upcoming</button></div>
        </div>
        <div class="containerEmp">
            <div class="limitTime">Starts in: 2days 3hrs 50mins</div>
            <div class="totalEmpIcon"><mat-icon>groups</mat-icon></div>
            <div class="totalEmpCount">87</div>
        </div>
    </div>

    <div class="containerTraining">
        <div class="trainer">Trainer:</div>
        <div class="trainerName">{{course.trainer}}&nbsp; &nbsp; |</div>
        <div class="trainer">&nbsp; &nbsp; &nbsp;Training Type:</div>
        <div class="trainerName">Online</div>
    </div>

    <div class="containerDate">
        <div class="start_date">Start Date<span id="date">{{course.startDate |date:'mediumDate'}} at {{course.startTime}}</span></div>
         <div class="end_date">End Date<span id="date">{{course.endDate | date:'MMM d, y'}} at {{course.endTime}}</span></div>
         <div class="duration">Duration<span id="duration">{{course.duration }}</span>
         </div>
         <div class="containerDetails">
            <div><button class="details"(click)="navigateToDetails(course)">Details</button></div>
            <div class="detailsIcon" (click)="display_edit_dlt_options()"><mat-icon>more_vert</mat-icon></div>
        </div>
     </div>

</div>
<div class="parentContainer" *ngFor="let course of completedCourseDetails">
    <div class="container">
        <div class="containerCourse">
            <div class="course_name">{{course.courseName}}</div>
            <div ><button class="course_status_completed">Completed</button></div>
        </div>
        <div class="containerEmp">
            <div class="totalEmpIcon"><mat-icon>groups</mat-icon></div>
            <div class="totalEmpCount">87</div>
        </div>
    </div>

    <div class="containerTraining">
        <div class="trainer">Trainer:</div>
        <div class="trainerName">{{course.trainer}} &nbsp; &nbsp; |</div>
        <div class="trainer">&nbsp; &nbsp; &nbsp;Training Type:</div>
        <div class="trainerName">Online</div>
    </div>

    <div class="containerDate">
        <div class="start_date">Start Date<span id="date"> {{course.startTime}}</span></div>
         <div class="end_date">End Date<span id="date">{{course.endTime}}</span></div>
         <div class="duration">Duration<span id="duration">{{course.duration}}</span>
         </div>
         <div class="containerDetails">
            <div><button class="details" (click)="navigateToDetails(course)">Details</button></div>
           <div class="parentDetailsIcon">
            <div class="detailsIcon" (click)="display_edit_dlt_options()"><mat-icon>more_vert</mat-icon></div>

            </div> 
           </div>
        </div>
     </div>


 -->
