<app-employee-header></app-employee-header>
<div class="navbar-path">
    <div class="details">
        HOME > Training Details
    </div>
    
</div>
<div class="profile-page">
    <div><img src="/assets/profile.png" id="pimage" alt=""></div>
    <div class="profile-details">
        <p class="name">Nagaveni</p>
        <p class="designation">Software Engineer</p>
        <p class="employeeId">RT0033</p>
    </div>
</div>
<div class="parentContainer">
    <div class="container">
        <div class="navHeading">Training:</div>
        <div class="navContent">Attended</div>
        <div class="navContent">Non-Attended</div>
        
    </div>
</div>

<div class="employoee-data">
    <mat-card class="employee-each-data">
        <table class="table">
            <tr>
                
                <th>Training Name</th>
                <th>Date</th>
                <th>Training Type</th>
                <th>Reason</th>
                <!-- <th class="width-5"></th> -->
            </tr>
            <tr>
                <td>
                    <div class="training-name-details">
                        <p class="name">UX/UI Design Process</p>
                        <p class="trainer">Trainer : <span class="name">George Rhaman</span></p>
                    </div>
                </td>
                <td > Dec 5,2020</td>
                <td >Online</td>
                <td><p class="reason-data">Attended client meeting</p></td>
                </tr>
                <tr>
                    <td>
                        <div class="training-name-details">
                            <p class="name">UX/UI Design Process</p>
                            <p class="trainer">Trainer : <span class="name">George Rhaman</span></p>
                        </div>
                    </td>
                    <td > Dec 5,2020</td>
                    <td >Online</td>
                    <td><p class="reason-data">Attended client meeting</p></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="training-name-details">
                                <p class="name">UX/UI Design Process</p>
                                <p class="trainer">Trainer : <span class="name">George Rhaman</span></p>
                            </div>
                        </td>
                        <td > Dec 5,2020</td>
                        <td >Online</td>
                        <td><p class="reason-data">Attended client meeting</p></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="training-name-details">
                                    <p class="name">UX/UI Design Process</p>
                                    <p class="trainer">Trainer : <span class="name">George Rhaman</span></p>
                                </div>
                            </td>
                            <td > Dec 5,2020</td>
                            <td >Online</td>
                            <td><p class="reason-data">Attended client meeting</p></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="training-name-details">
                                        <p class="name">UX/UI Design Process</p>
                                        <p class="trainer">Trainer : <span class="name">George Rhaman</span></p>
                                    </div>
                                </td>
                                <td > Dec 5,2020</td>
                                <td >Online</td>
                                <td><p class="reason-data">Attended client meeting</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="training-name-details">
                                            <p class="name">UX/UI Design Process</p>
                                            <p class="trainer">Trainer : <span class="name">George Rhaman</span></p>
                                        </div>
                                    </td>
                                    <td > Dec 5,2020</td>
                                    <td >Online</td>
                                    <td><p class="reason-data">Attended client meeting</p></td>
                                    </tr>
         
        </table>
    </mat-card>
   
</div>
<app-footer></app-footer>