{{getProfile()}}
<app-employee-header></app-employee-header>
<div class="navbar-path">
    <div class="details">
        HOME > Training Details
    </div>
    
</div>
<div class="body-div">
    <div class="profile-page">
        <div><img [src]="profilePic" id="pimage" alt="" (click)="zoomImage()"></div>
        <div class="profile-details">
            <p class="name">{{loginData.empName}}</p>
            <p class="designation">{{loginData.designation}}</p>
            <p class="employeeId">{{loginData.empId}}</p>
        </div>
    </div>
    <div class="parentContainer">
        <div class="container">
            <div class="navHeading">Training:</div>
            <div class="navContent" [class.active]="attendedData" (click)="attended()">Attended</div>
            <div class="navContent" [class.active]="nonAttendedData" (click)="nonAttended()">Non-Attended</div>
            
        </div>
    </div>
    
    <div class="employoee-data">
        <mat-card class="employee-each-data">
            <table class="table" *ngFor="let course of courseDetails">
                <tr>
                    
                    <th>Training Name</th>
                    <th>Date</th>
                    <th>Training Type</th>
                    <th *ngIf="course.reason">Reason</th>
                    <!-- <th class="width-5"></th> -->
                </tr>
                <tr>
                    <td>
                        <div class="training-name-details">
                            <p class="name">{{course.courseName}}</p>
                            <p class="trainer">Trainer : <span class="name">{{course.trainer}}</span></p>
                        </div>
                    </td>
                    <td >{{course.startDate | date}}</td>
                    <td >Online</td>
                    <td *ngIf="course.reason"><p class="reason-data">{{course.reason}}</p></td>
                    </tr>
                    
             
            </table>
        </mat-card>
       
    </div>
</div>
<app-footer></app-footer>