<app-login-page-header></app-login-page-header>
<div class="container">
    <mat-card class="login-container">
        <form action="" class="login-form">
            <p class="login-head-text">Change Password</p>
            <!-- <div class="input-data"> -->
               
                <mat-form-field  appearance="outline" class="form-field">
                    <mat-label>Employee code</mat-label>
                    <input type="text" matInput class="login-input" [(ngModel)]="employee_code" name="employee_code">
                </mat-form-field>
                <mat-form-field  appearance="outline" class="form-field">
                    <mat-label> New password</mat-label>
                    <input type="password" matInput class="login-input" [(ngModel)]="password" name="password">
                </mat-form-field>
                <button mat-raised-button class="login-button" (click)="changePassword()">Update</button>
            
        </form>
    </mat-card>
</div>