<!-- {{getAttendees()}} -->
<div class="header">
    <div class="logo">
        <img src="/assets/Robosoft_logo_horizontal.png" routerLink="/admin"id="logo" alt="">
    </div>
    <div class="profile">
        <div class="newTraining">
            <button class="training_button" routerLink="/createTraining">NEW TRAINING</button>
        </div>
        <div class="icon">
            <mat-icon>notifications_none</mat-icon>
        </div>
        <div class="pimage">
            <div><img src="/assets/profile.png" id="pimage" alt=""></div>
            <div class="display_icon">
                <mat-icon (click)="display_p_options()">arrow_drop_down</mat-icon>
                <div *ngIf="display" class="poptions">
                    <li (click)="addProfile()">Add profile picture</li>
                    <li (click)="editProfile()">Edit profile picture</li>
                    <li routerLink="/login">Log Out</li>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="main">
    <span class="navigation">Home &nbsp;>&nbsp;Training Details</span>
</div>


<div class="empAddDltMain">
    <mat-card class="each-notification-details" *ngIf="displayActive">
        <div class="courseName">
            <div>
                <p class="trianing-name">{{details.courseName}}<button mat-raised-button
                    class="active_course-button">{{details.completionStatus | uppercase}}</button></p>
                <p class="trainer">Trainer : <span class="trainer-name">{{details.trainer}}</span></p>
            </div>

            <div class="endsinEdit">
                <div class="flexEdit">
                    <div class="endsin">Ends in{{details.startDate-details.endDate}}</div>
                    <div class="edit">
                        <mat-icon (click)="editTraining()">edit_square</mat-icon>
                    </div>
                </div>
            </div>


        </div>
        <div class="details">
            <div class="date">
                <p class="tag">Start Date</p>
                <p class="data">{{details.startDate | date:'mediumDate'}}</p>
            </div>
            <div class="date">
                <p class="tag">End Date</p>
                <p class="data">{{details.endDate | date:'mediumDate'}}</p>
            </div>
            <div class="date">
                <p class="tag">Duration</p>
                <p class="data">{{details.duration}}</p>
            </div>
        </div>
        <div class="training-data-details">
            <p class="tag">Details</p>
            <p class="data lighter">
                <!-- Meeting is schedule via zoom call -->
                {{details.meetingInfo}}
            </p>
            <!-- <p class="data lighter">
                zoom call line: <a>https:Isd.sd asdlidjfsl;dhaks</a>
            </p>
            <p class="data lighter">
                Meeting ID : 12345643245 <br>
                Password : as57878
            </p> -->

        </div>
    </mat-card>
    <div class="parentContainer" *ngIf="displayActive">
        <div> <p class="attendees"><span *ngIf="attendees.length>=1"> Attendees ({{attendees.length}})&nbsp;</span> <span class="inviteEmp" *ngIf="trainingMode=='Online sessions'"routerLink="/inviteEmp">&nbsp;Invite Employees</span></p></div>
        <div class="contentContainer">
         <div class="container" *ngFor="let attendee of attendees">
             <div class="profileimg">
                 <img src="/assets/profile.png" alt="" id="profileimg">
             </div>
             <div class="empDetails">
                 <div class="empName">{{attendee.empName}}</div>
                 <div class="empDesignation">{{attendee.designation}}</div>
                 <div class="empCode">{{attendee.empId}}</div>
             </div>
             <div class="addIcon">
                 <mat-icon (click)="deleteEmployees(attendee.empId)">do_not_disturb_on</mat-icon>
             </div>
        </div>
         </div>
     </div>
    

    <mat-card class="each-notification-details" *ngIf="displayUpcoming">
        <div class="courseName">
            <div>
                <p class="trianing-name">{{details.courseName}}<button mat-raised-button
                    class="upcoming_course-button">{{details.completionStatus | uppercase}}</button></p>
                <p class="trainer">Trainer : <span class="trainer-name">{{details.trainer}}</span></p>
            </div>

            <div class="endsinEdit">
                <div class="flexEdit">
                    <div class="endsin">Starts in: in{{details.startDate-details.endDate}}</div>
                    <div class="edit">
                        <mat-icon routerLink="/updateTraining">edit_square</mat-icon>
                    </div>
                </div>
            </div>


        </div>
        <div class="details">
            <div class="date">
                <p class="tag">Start Date</p>
                <p class="data">{{details.startDate | date:'mediumDate'}}</p>
            </div>
            <div class="date">
                <p class="tag">End Date</p>
                <p class="data">{{details.endDate | date:'mediumDate'}}</p>
            </div>
            <div class="date">
                <p class="tag">Duration</p>
                <p class="data">{{details.duration}}</p>
            </div>
        </div>
        <div class="training-data-details">
            <p class="tag">Details</p>
            <p class="data lighter">
                <!-- Meeting is schedule via zoom call -->
                {{details.meetingInfo}}
            </p>
            <!-- <p class="data lighter">
                zoom call line: <a>https:Isd.sd asdlidjfsl;dhaks</a>
            </p>
            <p class="data lighter">
                Meeting ID : 12345643245 <br>
                Password : as57878
            </p> -->

        </div>
    </mat-card>

  
        <div class="parentContainer" *ngIf="displayUpcoming">
           <div> <p class="attendees"><span  *ngIf="attendees.length>=1"> Attendees ({{attendees.length}})&nbsp; </span><span class="inviteEmp" routerLink="/inviteEmp">Invite Employees</span></p></div>
           <div class="contentContainer">
            <div class="container" *ngFor="let attendee of attendees">
                <div class="profileimg">
                    <img src="/assets/profile.png" alt="" id="profileimg">
                </div>
                <div class="empDetails">
                    <div class="empName">{{attendee.empName}}</div>
                    <div class="empDesignation">{{attendee.designation}}</div>
                    <div class="empCode">{{attendee.empId}}</div>
                </div>
                <div class="removeIcon" >
                    <mat-icon (click)="deleteEmployees(attendee.empId)"> do_not_disturb_on</mat-icon>
                </div>
           </div>
            </div>
        </div>
   


   
    <mat-card class="each-notification-details" *ngIf="displayCompleted">
        <div class="courseName">
            <div>
                <p class="trianing-name">{{details.courseName}}<button mat-raised-button
                    class="completed_course-button">{{details.completionStatus | uppercase}}</button></p>
                <p class="trainer">Trainer : <span class="trainer-name">{{details.trainer}}</span></p>
            </div>

            <div class="endsinEdit">
                <div class="flexEdit">
                    <!-- <div class="endsin">Ends in{{details.startDate-details.endDate}}</div> -->
                    <!-- <div class="edit">
                        <mat-icon routerLink="/updateTraining">edit_square</mat-icon>
                    </div> -->
                </div>
            </div>


        </div>
        <div class="details">
            <div class="date">
                <p class="tag">Start Date</p>
                <p class="data">{{details.startDate | date:'mediumDate'}}</p>
            </div>
            <div class="date">
                <p class="tag">End Date</p>
                <p class="data">{{details.endDate | date:'mediumDate'}}</p>
            </div>
            <div class="date">
                <p class="tag">Duration</p>
                <p class="data">{{details.duration}}</p>
            </div>
        </div>
        <div class="training-data-details">
            <p class="tag">Details</p>
            <p class="data lighter">
                <!-- Meeting is schedule via zoom call -->
                {{details.meetingInfo}}
            </p>
            <!-- <p class="data lighter">
                zoom call line: <a>https:Isd.sd asdlidjfsl;dhaks</a>
            </p>
            <p class="data lighter">
                Meeting ID : 12345643245 <br>
                Password : as57878
            </p> -->

        </div>
    </mat-card>

    <div class="parentContainer" *ngIf="displayCompleted">
        <div> <p class="attendees" *ngIf="attendees.length>=1">Attendees ({{attendees.length}})</p></div>
        <div class="contentContainer">
         <div class="container" *ngFor="let attendee of attendees">
             <div class="profileimg">
                 <img src="/assets/profile.png" alt="" id="profileimg">
             </div>
             <div class="empDetails">
                 <div class="empName">{{attendee.empName}}</div>
                 <div class="empDesignation">{{attendee.designation}}</div>
                 <div class="empCode">{{attendee.empId}}</div>
             </div>
             <!-- <div class="addIcon">
                 <mat-icon> do_not_disturb_on</mat-icon>
             </div> -->
        </div>
         </div>
     </div>

     <div class="parentContainer" *ngIf="displayCompleted">
        <div> <p class="attendees"><span *ngIf="nonAttendees.length >= 1">Non Attendees (8)</span> </p></div>
        <div class="contentContainer">
         <div class="container" *ngFor="let nonAttendee of nonAttendees">
             <div class="profileimg">
                 <img src="/assets/profile.png" alt="" id="profileimg">
             </div>
             <div class="empDetails">
                 <div class="empName">{{nonAttendee.empName}}</div>
                 <div class="empDesignation">{{nonAttendee.designation}}</div>
                 <div class="empCode">{{nonAttendee.empId}}</div>
             </div>
        </div>
         </div>
     </div>
    
    
        
    
         