<!-- {{getAttendees()}} -->

<app-employee-header></app-employee-header>
 <div class="main">
    <span class="navigation">Home &nbsp;>&nbsp;Training Details</span>
</div>


<div class="empAddDltMain">
    <mat-card class="each-notification-details">
        <div class="courseName">
            <div>
                <p class="trianing-name">{{details.courseName || blank}}<button mat-raised-button
                    class="active_course-button" [class.active_course-button]="details.completionStatus=='active'" [class.upcoming_course-button]="details.completionStatus=='upcoming'" [class.completed_course-button]="details.completionStatus == 'completed'">{{details.completionStatus | uppercase}}</button></p>
                <p class="trainer">Trainer :
                     <span class="trainer-name">{{details.trainer}}</span>
                    <span class="trainer" *ngIf="(!(details.completionStatus== 'upcoming' && details.trainingMode=='Online sessions'))">&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;Training Type :
                         <span class="trainer-name">{{details.trainingMode}}</span>
                    </span>
                </p>
            </div>

            <div class="endsinEdit">
                <div class="flexEdit">
                    <div class="endsin" *ngIf="details.completionStatus=='active'">Ends in : {{details.endDate | endsIn:details.endDate:details.endTime}}</div>
                    <div class="endsin" *ngIf="details.completionStatus=='upcoming'">Starts in : {{details.startDate | endsIn:details.startDate:details.startTime}}</div>
                    <div class="edit" routerLink="/updateTraining">
                        <mat-icon class="border">check_box_outline_blank<mat-icon class="edit-icon">edit</mat-icon></mat-icon>
                    </div>
                </div>
            </div>


        </div>
        <div class="details">
            <div class="date">
                <p class="tag">Start Date</p>
                <p class="data">{{details.startDate | date:'MMM'}}&nbsp;{{details.startDate | dateChange }},&nbsp;{{details.startDate | date:'YYYY'}} at <span>{{details.startTime | time}}</span></p>
            </div>
            <div class="date">
                <p class="tag">End Date</p>
                <p class="data">{{details.endDate | date:'MMM'}}&nbsp;{{details.endDate | dateChange }},&nbsp;{{details.endDate | date:'YYYY'}} at <span>{{details.endTime | time}}</span></p>
                <p class="data" *ngIf="details.endDate == null"><b>-</b></p>
            </div>
            <div class="date">
                <p class="tag">Duration</p>
                <p class="data">{{details.duration}}</p>
                <p class="data" *ngIf="details.duration == null"><b>-</b></p>
            </div>
            <div class="date" *ngIf="details.completionStatus== 'upcoming' && details.trainingMode=='Online sessions'">
                <p class="tag">Training Type</p>
                <p class="data">{{details.trainingMode}}</p>
            </div>
        </div>
        <div class="training-data-details">
            <p class="tag">Details</p>
            <p class="data lighter" [innerHTML]="details.meetingInfo">
                 <!-- Meeting is schedule via zoom call  -->
               
            </p>
          

      </div>
    </mat-card>  
    <div class="parentContainer" >
        <div> <p class="attendees"><span *ngIf="attendees.length>=1"> Attendees ({{attendees.length}})&nbsp;</span> <span class="inviteEmp" *ngIf="(completionStatus=='active' && trainingMode=='Online sessions') || completionStatus=='upcoming'"routerLink="/inviteEmp">&nbsp;Invite Employees</span></p></div>
        <div class="contentContainer" *ngIf="attendees.length>=1">
         <div class="container" *ngFor="let attendee of attendees">
            <div class="profile-details">
                <div class="profileimg">
                    <img src="/assets/profile.png" alt="" id="profileimg">
                </div>
                <div class="empDetails">
                    <div class="empName">{{attendee.empName}}</div>
                    <div class="empDesignation">{{attendee.designation}}</div>
                    <div class="empCode">{{attendee.empId}}</div>
                </div>
            </div>
             <div class="addIcon">
                 <mat-icon (click)="deleteEmployees(attendee.empId)" *ngIf="details.completionStatus != 'completed'">do_not_disturb_on</mat-icon>
             </div>
        </div>
         </div>
     </div>
   
     <div class="parentContainer">
        <div> <p class="attendees"><span *ngIf="(nonAttendees.length >= 1 && details.completionStatus == 'completed')">Non Attendees ({{nonAttendees.length}})</span> </p></div>
        <div class="contentContainer"  *ngIf="(nonAttendees.length >= 1 && details.completionStatus == 'completed')">
         <div class="container" *ngFor="let nonAttendee of nonAttendees">
             <div class="profile-details">
                <div class="profileimg">
                    <img src="/assets/profile.png" alt="" id="profileimg">
                </div>
                <div class="empDetails">
                    <div class="empName">{{nonAttendee.empName}}</div>
                    <div class="empDesignation">{{nonAttendee.designation}}</div>
                    <div class="empCode">{{nonAttendee.empId}}</div>
                </div>
             </div>
        </div>
         </div>
     </div> 
    
    
        
    
         