.header {
    display: flex;
    justify-content: space-between;
    margin: 4% 15%;
    height: 4%;
}

#logo {
    height: 60px;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.training_button {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.32px;
    line-height: 16px;
    text-align: center;
    border-radius: 4px;
    background-color: #230735;
    border: none;
    padding: 10px 20px;

}

#pimage {
    height: 50px;
    border-radius: 50%;
}

.pimage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.material-icons {
    font-size: 35px;
}

.pimage .material-icons {
    font-size: large;
}

li {
    list-style: none;
    padding: 2px;
    font-size: small;
    z-index: 1;
    cursor: pointer;
}

.navigation {
    color: #909090;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
    width: 70%;
    margin: auto;
}
.main{
    display: flex;
    background-color: #EEEEEE;
    padding: 0.8%;
}





.navbar-path {
    background-color: #EEEEEE;
    color: #909090;
    font-family: Roboto;
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.6rem;
    padding: 1.5% 10%;
}

.each-notification-details {
    margin: auto;
    margin-top: 2%;
    padding: 0;
}

.trianing-name {
    color: #06235C;
    font-family: Roboto;
    font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 2.4rem;
    /* display: flex; */
    align-items: center;
    width: 120%;
}

.trainer {
    color: #4C4C4C;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 19px;
}

.trainer-name {
    font-weight: 500;
    
}

.details {
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: left;
    margin: 2%;
}

.courseName {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;

}

.date {
    margin-top: 3%;
    width: 25%;
    text-align: left;
}

.tag {
    color: #A8A8A8;
    font-family: Roboto;
    font-size: 1.4rem;
    letter-spacing: 0.12px;
    line-height: 2.4rem;
}

.data {
    color: #000000;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.43px;
    line-height: 1.9rem;
}

.training-data-details {

    margin: 2%;
    margin-top: 3%;
    padding-bottom: 1%;
}

.lighter {
    font-weight: 400;
}

button {
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.32px;
    line-height: 1.6rem;
    text-align: center;
    padding: 1% 2%;
    margin-top: 3%;
}

.accept {

    background-color: #71AC1B;
    margin: 0 0 2% 2%;

}

.reject {
    background-color: #EC2C2C;
    margin-left: 3%;
}


.active_course-button, .upcoming_course-button, .completed_course-button{
    border-radius: 4px;
    background-color: rgba(222, 132, 50, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2rem;
    padding: 2% 3%;
    margin-left: 6%;
}
.active_course-button{
    background-color: #71AC1B;
}
.upcoming_course-button{
    background-color: #DE8432;
}
.completed_course-button{
    background-color: #DEBB32;
}

.attendees {
    color: #06235C;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 3%;
    margin-bottom: 2%;
}

.inviteEmp {
    color: #EC2C59;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 19px;
    text-decoration: underline;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
   
    margin-right: 2%;
    width: 31.33%;
    box-sizing: border-box;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 1%;
    align-items: center;
    margin-bottom: 2%;
    /* gap:2em; */
}

.border{
    position: relative;
}
.edit-icon{
    position: absolute;
    left: 48%;
    bottom: 15%;
    font-size: 2.8rem;
    
}

.profile-details{
    display: flex;
    justify-content: flex-start;
    gap:2em;
}

#profileimg {
    height: 4.8em;
    width: 4.8em;
    border-radius: 50%;

}

.empName {
    color: #373A3C;
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 2.4rem;

}

.empDesignation , .empCode{
    color: #373A3C;
    font-family: Roboto;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 2.4rem;
}


.parentContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    /* flex-wrap: wrap; */
}
.completed-container{
    justify-content: flex-start;
    align-items: center;
    
}

.empAddDltMain {
    width: 70%;
    margin: auto;
}

.addIcon mat-icon,.removeIcon mat-icon  {
    font-size: 24px;
    color: white;
    background-color: #EC2C59;
    border-radius: 50%;
}

.edit mat-icon {
    background-color: white;
    color: #EC2C59;
    cursor: pointer;

}

.flexEdit {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 5%;
}

.endsin {
    
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #F3F3F3;
    color: #25040C;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.37px;
    line-height: 16px;
    text-align: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.contentContainer {
    display: flex;
    /* gap: 1.6rem;
     */
     /* justify-content: space-between; */
    /* height: 30vh; */
    overflow-y: scroll;
    margin-top: 2%;
    width: 100%;
    flex-wrap: wrap;
    max-height: 30vh;
    /* border:1px solid red; */
    overflow-y: scroll;
    overflow-x: hidden;
}


