<app-employee-header></app-employee-header>
 <app-training-count></app-training-count>
<app-navbar></app-navbar>
{{activeData()}}
{{displayCourse()}}
{{getEmployeeData()}}
<!-- {{searchEmployee()}} -->
{{statusCheck()}}
<div class="all-employee scroll" *ngIf="allEmployeeData && allData" (scroll)="onScrolling($event)">
    <form class="searchbar" *ngIf = "allEmployee">
        <input type="text" placeholder="Search Employee#, Name, Designation" [(ngModel)]="searchData" name="searchData" matInput class="search-input">
        <button class="search-button" mat-raised-button (click)="searchDatas()">SEARCH</button>
    </form>
    <div class="employoee-data" *ngIf = "allEmployee">
        <mat-card id="table" class="employee-each-data">
            <table class="table">
                <tr>
                    <th class="width-15">Employee#</th>
                    <th class="width-25">Name</th>
                    <th class="width-25">Designation</th>
                    <th class="width-10">Attended</th>
                    <th class="width-10">Upcoming</th>
                    <th class="width-10">Active</th>
                    <th class="width-5"></th>
                </tr>
                    <tr *ngFor = "let employee of employeeDetails;index as i">
                        <td class="width-15">{{employee.empId}}</td>
                        <td class="width-25">{{employee.empName}}</td>
                        <td class="width-25">{{employee.designation}}</td>
                        <td class="width-10">{{employee.attendedCount || 0}}</td>
                        <td class="width-10">{{employee.upcomingCount || 0}}</td>
                        <td class="width-10">{{employee.activeCount || 0}}</td>
                        <td class="width-5" (click)="employee_data_edit(employee)"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                    </tr>
               
            </table>
            
        </mat-card>
       
    </div>
</div>

<!-- <div class="all-employee scroll" *ngIf="allEmployeeData && filter" (scroll)="onScrollingSearch($event)">
    <form class="searchbar" *ngIf = "allEmployee">
        <input type="text" placeholder="Search Employee#, Name, Designation" [(ngModel)]="searchData" name="searchData" matInput class="search-input" (click)="removeFilter()">
        <button class="search-button" mat-raised-button (click)="searchDatas()">SEARCH</button>
    </form>
    <div class="employoee-data" *ngIf = "allEmployee">
        <div *ngIf="search_list.length<1" class="no-data">No Data</div>
        <mat-card id="table" class="employee-each-data">
            <table class="table" *ngIf="search_list.length>0">
                <tr>
                    <th class="width-15">Employee#</th>
                    <th class="width-25">Name</th>
                    <th class="width-25">Designation</th>
                    <th class="width-10">Attended</th>
                    <th class="width-10">Upcoming</th>
                    <th class="width-10">Active</th>
                    <th class="width-5"></th>
                </tr>
                    <tr *ngFor = "let employee of search_list;index as i">
                        <td class="width-15">{{employee.empId}}</td>
                        <td class="width-25">{{employee.empName}}</td>
                        <td class="width-25">{{employee.designation}}</td>
                        <td class="width-10">{{employee.attendedCount || 0}}</td>
                        <td class="width-10">{{employee.upcomingCount || 0}}</td>
                        <td class="width-10">{{employee.activeCount || 0}}</td>
                        <td class="width-5" (click)="employee_data_edit(employee)"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                    </tr>
               
            </table>
            
        </mat-card>
       
    </div>
</div> -->


<div class="all-employee scroll" *ngIf="display">
    <div class="employee-course-details">
        <mat-card class="each-notification-details"  *ngFor="let courseData of display_course_list">
            <div class="course-time">
                <div class="courseName">
                    <p class="trianing-name">{{courseData.courseName}}<button mat-raised-button class="course-button active" *ngIf="courseData.completionStatus=='active'">ACTIVE</button> <button mat-raised-button class="course-button" *ngIf="courseData.completionStatus=='upcoming'">UPCOMING</button><button mat-raised-button class="course-button completed" *ngIf="courseData.completionStatus=='completed'">COMPLETED</button></p>
                <p class="trainer">Trainer : <span class="trainer-name">{{courseData.trainer}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</span> Training Type : <span class="trainer-name">{{courseData.trainingMode}}</span>
                </p>
                </div>
                <div class="remaining-time-count">
                 <div class="time-div"*ngIf="courseData.endDate!=null && courseData.completionStatus=='active'">Ends in: {{date | endsIn:courseData.endDate:courseData.endTime}}</div>
                 <div class="time-div"*ngIf="courseData.completionStatus=='upcoming'">Starts in: {{date | endsIn:courseData.startDate:courseData.startTime}}</div>
                 <div class="time-div" *ngIf="courseData.endDate==null && courseData.completionStatus=='active'">End date will be anounced soon...</div>
                <div class="total-attendies-count">
                    <p class="icon"><mat-icon>groups</mat-icon></p>
                    
                    <p class="count">{{courseData.employee_count}}</p>
                </div>
                </div>
            </div>
           <div class="course-details">
            <div class="details">
                <div class="date">
                    <p class="tag">Start Date</p>
                    
                    <p class="data">{{courseData.startDate | date:'MMM'}}&nbsp;{{courseData.startDate | dateChange }},&nbsp;{{courseData.startDate | date:'YYYY'}} at <span>{{courseData.startTime | time}}</span></p>
                </div>
                <div class="date" >
                    <p class="tag">End Date</p>
                    <p class="data" *ngIf ="courseData.endDate">{{courseData.endDate | date:'MMM'}}&nbsp;{{courseData.endDate | dateChange:'dd' }},&nbsp;{{courseData.endDate | date:'YYYY'}} at <span>{{courseData.endTime | time}}</span></p>
                    <p class="data" *ngIf = "courseData.endDate == null">&nbsp;-</p>
                </div>
                <div class="date">
                    <p class="tag">Duration</p>
                    <p class="data">{{courseData.duration | duration}}</p>
                    <p class="data" *ngIf = "courseData.duration == null">&nbsp;-</p>
                </div>
               
                
            </div>
            <div class="reaction-button">
                <button mat-raised-button class="details-button" (click)="courseDetailNavigate(courseData)">DETAILS</button>
                <div class="more">
                    <div class="more-icon" (click)="displayDropdown(courseData)" *ngIf="(courseData.completionStatus=='upcoming' || (courseData.completionStatus=='active' && courseData.trainingMode=='Online sessions')) && role == 'admin'"><mat-icon class="more-vert-icon">more_vert</mat-icon></div>
                    <mat-card class="display-operation" *ngIf="courseData.dropdown == true">
                        <div class="dropdownData" *ngIf="courseData.completionStatus=='upcoming'">
                            <p><mat-icon>perm_identity</mat-icon></p>
                            <p>Assign&nbsp;Manager</p>
                        </div>
                        <div class="dropdownData">
                            <p><mat-icon class="border">check_box_outline_blank<mat-icon class="edit">edit</mat-icon></mat-icon></p>
                            <p>Edit</p>
                        </div>
                        <div class="dropdownData" *ngIf="courseData.completionStatus=='upcoming'">
                            <p><mat-icon>delete_outline</mat-icon></p>
                            <p>Delete</p>
                        </div>
                       
                        
                    </mat-card>
                </div>
               
            </div>
            
           </div>
            
        </mat-card>
    
       
    </div>
</div>


<app-footer></app-footer>