<app-add-employee-header></app-add-employee-header>
<app-training-count></app-training-count>
<app-navbar></app-navbar>
<div class="all-employee">
    <div class="searchbar">
        <input type="text" placeholder="Search Employee#, Name, Designation" matInput class="search-input">
        <button class="search-button" mat-raised-button>SEARCH</button>
    </div>
    <div class="employoee-data">
        <mat-card class="employee-each-data">
            <table class="table">
                <tr>
                    <th class="width-15">Employee#</th>
                    <th class="width-25">Name</th>
                    <th class="width-25">Designation</th>
                    <th class="width-10">Attended</th>
                    <th class="width-10">Upcoming</th>
                    <th class="width-10">Active</th>
                    <th class="width-5"></th>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
                <tr>
                    <td class="width-15">RT0033</td>
                    <td class="width-25">Nagaveni</td>
                    <td class="width-25">Employee</td>
                    <td class="width-10">10</td>
                    <td class="width-10">3</td>
                    <td class="width-10">5</td>
                    <td class="width-5" (click)="employee_data_edit()"><mat-icon class="move-next-icon">keyboard_arrow_right</mat-icon></td>
                </tr>
            </table>
        </mat-card>
       
    </div>
</div>
<app-footer></app-footer>