

{{getActive()}}
<div class="parentContainer">
    <div class="container">
        <div class="navHeading">Training:</div>
        <div class="navContent" [class.active-tag]="active" (click)="activeFunction()">Active</div>
        <div class="navContent" [class.active-tag]="upcoming" (click)="upcomingFunction()">Upcoming</div>
        <div class="navContent" [class.active-tag]="completed" (click)="completeFunction()">Completed</div>
    </div>

   <div class="all-filter">
    <div class="navContent" [class.active-tag]="allEmployees" (click)="allEmployeeFunction()">
        <span  *ngIf="role=='admin' || role=='super_admin'">All&nbsp;Employee</span>
        <span *ngIf="role=='manager'">All&nbsp;Reportees</span>
        <span *ngIf="role=='employee'">Invites</span>
        
    </div>
   

    <mat-icon class="icon" (click)="filter()">filter_list</mat-icon>
    <mat-card class="filter-data" [class.display]="displayFilter" [formGroup]="filterForm">

        <div class="filter-apply">
            <p class="filter">Filter</p>
            <button mat-raised-button class="apply" (click)="apply()">Apply</button>
        </div>

        <p class="date-text">Date</p>
        <div class="date-picker">
            
           
              <div class="start-date">
              
               
                    
                    <input matInput type="date" placeholder="From"  formControlName="downDate" name="downDate">
                    
                   
                        <input type="date" placeholder="To" formControlName="topDate" name="topDate">
                  
                
                   
                
              </div>
        </div>
           
       
    <!-- </mat-card> -->

    </mat-card>

   </div>
    
</div>

