<div class="parentContainer">
    <div class="container">
        <div class="navHeading">Training:</div>
        <div class="navContent">Active</div>
        <div class="navContent">Upcoming</div>
        <div class="navContent">Completed</div>
    </div>
    <!-- <div class="navSideContent" >
       <div class="navEmp"> All&nbsp;Employees</div>
       <div class="navfilterIcon"><mat-icon>filter_list</mat-icon></div>
    </div> -->
    <div class="navSideContent" >
        <span class="navEmp">All&nbsp;Employees</span>
        <mat-icon>filter_list</mat-icon>
    </div>

</div>
