.header {
    display: flex;
    justify-content: space-between;
    margin: 4% 15%;
    height: 4%;
}

#logo {
    height: 60px;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

#pimage {
    height: 50px;
    border-radius: 50%;
}

.pimage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.material-icons {
    font-size: 35px;
}

.pimage .material-icons {
    font-size: large;
}

li {
    list-style: none;
    padding: 2px;
    font-size: small;
    z-index: 1;
    cursor: pointer;


}

.poptions {
    background-color: #FDF4F6;
    color: #d92756;
    padding: 5px;
}

.training_button {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    background-color: #230735;
    border: none;
    padding: 10px 20px;

}

hr {
    margin-bottom: 2rem;
}

.parentMain {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

.main {
    width: 63%;
}

.sidebar {
    width: 28%;
    height: 35%;
}

#trainingheading {
    color: #06235C;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 900;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.parentContainer {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

input {
    width: 95%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 9px;
}
.smalltxt{
    color: red;
}
.is-invalid{
    border-color:red ;
}

label {
    color: #373A3C;
    font-family: Roboto;
    font-size: 14px;
}

.choices{
    padding-top: 5%;
}

#attendees {
    color: #06235C;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 21px;
}

#noEmpAdded {
    color: rgb(78, 70, 70);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 24px;
}

.inviteEmp {
    color: #EC2C59;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: underline;
}
.inputTime1{
    margin-top: 0%;
}
.inputTime2{
    margin-top: 9%;
}

.attendeesContainer {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 0.5% 2% 0.5% 2%;
    margin-top: 4%;
    align-items: center;
   
}

.startdate,
.enddate {
    width: 100%;
}



/* .timedateContainer {
    display: flex;
    justify-content: space-between;
    gap:2em;
} */

.timeContainer {
    display: flex;
    flex-direction: column;
    /* padding-top: 5%; */
    justify-content: space-between;
}

.timeDuration {
    display: flex;
    gap: 2%;
}

.timeWidth {
    width: 20%;
    margin-right: 3%;
}
.timedurationWidth{
    width: 13.5%;
}

.meetingStatus {
    margin-top: 3%;
}

.buttons {
    margin-top: 3%;
}

.cancelbtn,
.createbtn {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #EC2C59;
    border: none;
    margin-right: 2%;
    padding: 2% 3% 2% 3%;
    border-radius: 4px;
}

.cancelbtn {
    color: #5A5A5A;
    background-color: #D5D5D5;
}

.sidebarContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 86vh;
    /* border:1px solid red; */
}
.profile-details{
    display: flex;
    justify-content: flex-start;
    gap:2em;
}

#profileimg {
    height: 4.8em;
    width: 4.8em;
    border-radius: 50%;
}

.empName {
    color: #373A3C;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
}

.empDesignation {
    color: #373A3C;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
}

.empCode {
    color: #373A3C;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 24px;
}

.addIcon mat-icon {
    color: white;
    background-color: #EC2C59;
    font-size: 24px;
    border-radius: 50%;
}
.startTimeContainerrr , .endTimeContainerrr{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    width: 100%;
    align-self: center;
}
select{
    width:6em;
     border: 1px solid #CCCCCC;
     border-radius: 4px;
     background-color: #FFFFFF;
     color:rgba(0,0,0,0.6);
 }
.startTimeContainerrr{
    margin-bottom: 1%;
}

.mat-radio-button {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin-right: 40px;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}
/* .startdates , .enddates{
    margin-top: 10%;
} */
.duration {
    margin-top:5%;
    margin-bottom: 5%;
}
.dates {
    display: flex;
   
    width: 100%;
  
     gap:12%;
    align-items: center;
   
}


.startdates{
    width: 65%;
    margin-top: 2%;
    
}
.inputTime1{
    margin-top: 2%;
    width: 50%;
}
.startdate{
    width: 100%;
}
.duration {
    margin-top:5%;
    margin-bottom: 5%;
}

.disabled{
    /* display: none; */
  opacity: 0.5;
}