.close-width{
    /* width: 100%; */
    margin: auto;
    display: flex;
    justify-content: right;
}

.close-icon{
    color:rgba(0,0,0,0.5);
    display: flex;
    width: 100%;
    justify-content: right;
}

ul li{
    font-size: 1.5rem;
    line-height: 2.0rem;
    font-weight: 400;
    
    
}

.note-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    width: fit-content;
    /* margin: auto; */
    margin-top: 0;
    height: 15vh;
    overflow-y: scroll;
    cursor: pointer;
   
}
.list::-webkit-scrollbar{
    display: none;
}
.headding{
    align-items: left;
}

.text{
    margin-top: 1em;
    color:rgba(0,0,0,0.5);

}
.point{
    cursor: pointer;
}