<div class="update-emplouee-details">
    <p class="close-width"><mat-icon class="close-icon" mat-dialog-close>close</mat-icon></p>
    <div class="update-heading">Update/Remove Employee details</div>
    <div class="update-fields">
        <form class="update-data" [formGroup]="update_employee_role">
            <mat-form-field  appearance="outline" class="form-field">
                <mat-label>Employee code</mat-label>
                <input type="text" matInput class="login-input" formControlName="empId" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Select your Role</mat-label>
                <mat-select disableRipple name="role" formControlName="roleName">
                  <mat-option value="admin">Admin</mat-option>
                  <mat-option value="manager">Manager</mat-option>
                  <mat-option value="employee">Employee</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="update-button"><button type="submit" mat-fab color="accent" (click)="updateEmployeeRole()" mat-dialog-close><mat-icon class="edit">edit</mat-icon></button>
                <button mat-fab color="accent"><mat-icon class="edit" (click)="deleteEmployee()" mat-dialog-close>delete</mat-icon></button>
            </div>
             
        </form>
    </div>
</div>