<div class="register-container" *ngIf="select">
    <p class="close-width"><mat-icon class="close-icon" mat-dialog-close>close</mat-icon></p>
    <p class="headding headding-text">Select Employee Register throught the upload file or form</p>
    <div class="select-form">
        <button type="submit" mat-raised-button color="accent" (click)="upload()" class="select-button">Upload file</button>
        <button type="submit" mat-raised-button color="accent" (click)="form()" class="select-button right">Form field</button>
    </div>
</div>


<div class="register-container" *ngIf="formData">
    
    <p class="close-width"><mat-icon class="close-icon" mat-dialog-close>close</mat-icon></p>
    <p class="headding">Employee Register</p>
    <form [formGroup]="employee_register_form" class="register-form" (ngSubmit)="addEmployee()">
        
            <div class="form-input-field">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Employee Id</mat-label>
                    <input type="text" matInput formControlName="empId" name="empId" class="input-field">
                    <mat-hint *ngIf="employee_register_form.get('empId')?.hasError('pattern')">Only Uppercase letter and digits valid</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Employee Name</mat-label>
                    <input type="text" matInput formControlName="empName" name="empName" class="input-field">
                    <mat-hint *ngIf="employee_register_form.get('empName')?.hasError('pattern')">Not allow digits and special symbols</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" name="password" class="input-field">
                    <mat-hint *ngIf="employee_register_form.get('password')?.hasError('pattern')">Password include uppercase,lowercase,digit and special charactor</mat-hint>
                    <mat-hint *ngIf="employee_register_form.get('password')?.hasError('minlength') && employee_register_form.get('password')?.touched && !employee_register_form.get('password')?.hasError('pattern')">Password minimum length 8 charactors</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Designation</mat-label>
                    <input type="text" matInput formControlName="designation" name="designation" class="input-field">
                    <mat-hint *ngIf="employee_register_form.get('designation')?.hasError('pattern')">Not allow digits and special symbols</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" name="email" class="input-field">
                    <mat-hint *ngIf="employee_register_form.get('email')?.invalid && employee_register_form.get('email')?.touched">Email invalid (should contain @ and .)</mat-hint>
                </mat-form-field>
                <div class="store-button">
                    <button type="submit" mat-raised-button color="accent" class="register" [disabled]="employee_register_form.invalid">ADD+</button>
                    <button mat-raised-button mat-dialog-close color="accent" class="done" [disabled]="registerDisable" (click)="storeServer()">REGISTER</button>
                </div>
            </div>
        
        </form>
</div>
<div class="register-container" *ngIf="uploadData">
    <p class="close-width"><mat-icon class="close-icon" mat-dialog-close>close</mat-icon></p>
    <p class="headding">Employee Register</p>
    <form class="register-form">
       
            <div class="done-button">
                <input type="file" (change)="readExcel($event)" class="input-fields">
            </div>
        
        
    </form>
   <div class="done-button">
    <button mat-raised-button mat-dialog-close color="accent" class="uploadDone" (click)="storeServer()">Done</button>
   </div>
</div>