<app-employee-header></app-employee-header>
<div class="navbar-path">
    <div class="details">
        HOME > Training Details
    </div>
    
</div>
<div class="notifications-details">
    <mat-card class="each-notification-details">
        <div class="courseName">
            <p class="trianing-name">UX/UI Design Process <span class="button">UPCOMING</span></p>
        <p class="trainer">Trainer : <span class="trainer-name">George Rehaman</span></p>
        </div>
        <div class="details">
            <div class="date">
                <p class="tag">Date</p>
                <p class="data">Dec 5th, 2020</p>
            </div>
            <div class="date">
                <p class="tag">Time</p>
                <p class="data">02:45PM</p>
            </div>
            <div class="date">
                <p class="tag">Duration</p>
                <p class="data">3 hours 45 mins</p>
            </div>
            <div class="date">
                <p class="tag">Training type</p>
                <p class="data">Online</p>
            </div>
        </div>
        <div class="training-data-details">
            <p class="tag">Details</p>
            <p class="data lighter">
                Meeting is schedule via zoom call
            </p>
            <p class="data lighter">
                zoom call line: <a>https:Isd.sd asdlidjfsl;dhaks</a>
            </p>
            <p class="data lighter">
                Meeting ID : 12345643245 <br>
                Password : as57878
            </p>
            
        </div>
        <div class="reaction-button">
            <button mat-raised-button class="accept">ACCEPT</button>
            <button mat-raised-button class="reject">REJECT</button>
        </div>
    </mat-card>
</div>