<app-employee-header></app-employee-header>
<div class="navbar-path">
    <div class="detail-path">
        HOME > Training Details
    </div>
    
</div>
<div class="notifications-details">
    <mat-card class="each-notification-details" *ngFor="let notification of notificationDetails">
        <div class="courseName">
            <p class="trianing-name">{{notification.courseName}} <button mat-raised-button class="course-button" [class.active]="notification.completionStatus == 'active'" [class.upcoming]="notification.completionStatus == 'upcoming'">{{notification.completionStatus | uppercase}}</button></p>
        <p class="trainer">Trainer : <span class="trainer-name">{{notification.trainer}}</span></p>
        </div>
        <div class="details">
            <div class="date">
                <p class="tag">Date</p>
                <p class="data">{{notification.startDate | date}}</p>
            </div>
            <div class="date">
                <p class="tag">Time</p>
                <p class="data">{{notification.startTime | time}}</p>
            </div>
            <div class="date">
                <p class="tag">Duration</p>
                <p class="data">{{notification.duration}}</p>
                <p class="data" *ngIf="notification.duration == null"><b>-</b></p>
            </div>
            <div class="date">
                <p class="tag">Training type</p>
                <p class="data">{{notification.trainingMode}}</p>
            </div>
        </div>
        <div class="training-data-details">
            <p class="tag">Details</p>
            <div class="data lighter" [innerHTML]="notification.meetingInfo">
               
            </div>
           
            
        </div>
        <div class="reaction-button">
            <button mat-raised-button class="accept" (click)="accept(notification)">ACCEPT</button>
            <button mat-raised-button class="reject" (click)="reject_reason()">REJECT</button>
        </div>
    </mat-card>
</div>
<div class="footer">

<app-footer></app-footer>
</div>