.container{
    width: 100%;
    padding: 13% 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
    text-align: center;
}
.login-container{
    padding: 2%;
    border-radius: 5%;
    width: 24%;
    margin:auto;
    
}
.login-head-text{
    color: #000000;
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2.9rem;
}
.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.input-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-input{
    width: 100%;
    display: block;
}

.forgot-msg{
    font-size: 1.2rem;
    font-family: 'Roboto';
    cursor: pointer;
    margin-top: 2%;
}
.login-button{
    background-color: #D92756;
    color: #FFFFFF;
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 1.6rem;
  text-align: center;
  padding: 12px 40px;
  border-radius: 50px;
}
.form-field{
    width: 100%;
}

