
<app-login-page-header></app-login-page-header>
<div class="container">
    <mat-card class="login-container">
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
            <p class="login-head-text">Login</p>
            <!-- <div class="input-data"> -->
                <!-- <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Select your Role</mat-label>
                    <mat-select disableRipple [(ngModel)]="role" name="role" [(ngModel)]="role">
                      <mat-option value="superAdmin">Super Admin</mat-option>
                      <mat-option value="admin">Admin</mat-option>
                      <mat-option value="manager">Manager</mat-option>
                      <mat-option value="employee">Employee</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                <mat-form-field  appearance="outline" class="form-field">
                    <mat-label>Employee code</mat-label>
                    <input type="text" matInput class="login-input" formControlName="empId" name="empId" #empId>
                    <mat-hint *ngIf="loginForm.get('empId')?.hasError('pattern')">Only Uppercase letter and digits valid</mat-hint>
                </mat-form-field>
                <mat-form-field  appearance="outline" class="form-field">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput class="login-input" formControlName="password" name="password">
                    <mat-hint *ngIf="loginForm.get('password')?.hasError('pattern')">Password include uppercase,lowercase,digit and special charactor</mat-hint>
                    <mat-hint *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched && !loginForm.get('password')?.hasError('pattern')">Password minimum length 8 charactors</mat-hint>
                </mat-form-field>

                <button mat-raised-button class="login-button" type="submit">Login</button>
    
            <p class="forgot-msg" (click)="changePassword()">Forgot password</p>
        </form>
    </mat-card>
</div>