<div class="container">
    <mat-card class="reject-reason-body">
        <p class="heading">Reason for Reject</p>
        <form [formGroup]="reject_form">
            <input type="textarea" name="reject" id="reject" rows="8" formControlName="reason" placeholder="Please write the reason for reject the Event">
        <!-- <mat-hint *ngIf = "reject_form.get('reason')?.hasError('pattern')">Only accept alphabits</mat-hint> -->
        <div class="buttons">
            <button mat-raised-button class="button-option cancel" (click)="cancel()">CANCEL</button>
            <button mat-raised-button class="button-option send" (click)="send()" [disabled]="reject_form.invalid">SEND</button>
        </div>
        </form>
    </mat-card>
</div>