/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;300;700&display=swap');


html, body { height: 100%;
font-size: 62.5%;
line-height: 62.5%;

 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* 
:host ::ng-deep .mat-radio-container{
    height: 10px;
    width: 10px;
  }

  .choices::ng-deep .mat-radio-outer-circle {
    border-color: rgb(13, 13, 14);
    border: 6px solid rgb(13, 13, 14) ;
    border-color: black !important;
    
 }

.choices::ng-deep .mat-radio-inner-circle {
    background-color: #fff!important;
   
} */
body { margin: 0; font-family: 'Roboto', sans-serif; }


.otp-dialog-box .mat-dialog-container{
    width:28vw;
    
    height: fit-content;
    border-radius: 30px;
}

.employee-register .mat-dialog-container{
    width:30vw;
    
    height: fit-content;
    border-radius: 10px;
}

.update-employee-role .mat-dialog-container,.delete-employee .mat-dialog-container
{
    width:50vw;
    
    height: fit-content;
    border-radius: 10px;
}
.error-msg .mat-dialog-container{
    width:53vw;
    
    height: fit-content;
    border-radius: 10px;
}

.notification-list .mat-dialog-container{
    width:40vw;
    
    height: fit-content;
    border-radius: 10px;
}

.profile-zoom .mat-dialog-container{
    width:40vw;
    background-color: transparent !important;
    box-shadow: none;
    height: fit-content;
    border-radius: 10px;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -3px;
}

.image-upload .mat-dialog-container{
    width:30vw;
    border-radius: 10px;
    height: fit-content;
}
.choices .mat-radio-outer-circle {
    height: 15px;
    width: 15px;
}
.choices .mat-radio-inner-circle {
    height: 15px;
    width: 15px;
}
 .choices .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #070707;
}
.choices .mat-radio-label-content{
    padding-bottom: 6px;
}

.mat-hint{
    color:red;
}